.container{
    background-color: #111111;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
   
}

h1{
    color: white;
    font-size: 3rem;
    font-weight: bold;

}

.time{
    color: #6681fa;
    padding: 10px 35px;
    font-size: 3rem;
    font-weight: bold;
    border: 6px solid white;
}